.imgperso {
    
    position: relative;
  }
  
  .imgperso img {
    width: 100%;
    opacity: 0.4;
  }
  
  .imgperso img:hover {
    opacity: 1;
  }
  
  .coin {
    position: absolute;
    right: auto;
    top: 10%;
  }
  
  .coin p {
    font-size:2vw;
    border: 2px black solid;
    margin: auto;
  }
  .coin span {
    color: orange;
  }

  .name {
    position: absolute;
    right: auto;
    bottom: auto;
    color: white;
    font-size:2vw;
  
  }
  
  .imgperso:hover .coin {
    visibility: hidden;
  }
  
  .imgperso:hover .name {
    bottom: 10%;
    font-size:3vw;
  left: 30%;
  }